/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --primary-color: white;
  --background-color: #121212;
  --header-color: white;
  --body-background-color: #1C1C1C;
  --border-color: #2C2C2C;
  --outline-color: #024893;
  --movie-plot-color: #A5A5A5;
  --search-icon-color: #9CA3AF;
  --search-input-bg-color: #2E2E2F;
  --search-btn-bg-color: #4B4B4B;
  --check-icon-color: #C3D5D5;
  --movies-placeholder-color: #2E2E2F;
  --watchlist-placeholder-color: #787878;
}

:root.white-mode {
  --primary-color: black;
  --background-color: white;
  --border-color: #E5E7EB;
  --outline-color: rgb(164, 164, 164);
  --movie-plot-color: #6B7280;
  --search-btn-bg-color: #F9FAFB;
  --search-input-bg-color: white;
  --check-icon-color: #C3D5D5;
  --movies-placeholder-color: #DFDDDD;
  --watchlist-placeholder-color: #DFDDDD;
}

/* utils */
.flex {display: flex;}
.al-c {align-items: center;}
.jc-c {justify-content: center;}
.inter {font-family: 'Inter', sans-serif;}
.border-none {border: none;}
.pointer {cursor: pointer;}
.pointer-disabled {cursor: not-allowed;}
.bold {font-weight: 700;}
.primary {color: var(--primary-color);}
.text-dec-none {text-decoration: none;}
.full-width {width: 100%;}